html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Jockey One', sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
br
{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
/* FIN DU CSS RESET */
::-moz-selection { /* Code for Firefox */
	color: #0d0d0e;
	background: none;
	text-shadow:
	-1px -1px 0 #EF476F,  
    1px -1px 0 #EF476F,
	-1px 1px 0 #EF476F,
    1px 1px 0 #EF476F;
}
  
::selection {
	color: #0d0d0e;
	background: none;
	text-shadow:
	-1px -1px 0 #EF476F,  
    1px -1px 0 #EF476F,
	-1px 1px 0 #EF476F,
    1px 1px 0 #EF476F;
}

body {
	background-color:#0d0d0e;
}

.container {
	margin: 2% 10%;
	height: 100%;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.i-b {
	display: inline-block;
}

#wrapper {
	display: inline-block;
	text-align: center;
}

.automargin {
	margin-left:auto;
    margin-right:auto;
}

.gray {
	color: rgb(104, 104, 104);
}

/* FORMATS DE TEXTE */
li, p {
	font-size: 20px;
	color: #FFFFFF;
}

h1 {
	font-size: 130px;
	color: #FFFFFF;
}

h2 {
	font-size: 100px;
	color: #FFFFFF;
}

h3 {
	font-size: 50px;
	color: #FFFFFF;
}

h4 {
	font-size: 35px;
	color: #FFFFFF;
}

/* FIN DES FORMATS DE TEXTE */

.btnWrapper {
	margin: 0 auto;
	text-align: center;
}

.button {
	display: inline-block;
	background-color: #EF476F;
	padding: 20px;
	border-radius: 2em;
}