html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Jockey One', sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: visible;
	overflow-y: scroll;
	padding-bottom: 50px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
br
{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
/* FIN DU CSS RESET */
::-moz-selection { /* Code for Firefox */
	color: blue;
	text-decoration: underline 1px blue;
	background: none;
}
  
::selection {
	color: blue;
	text-decoration: underline 1px blue;
	background: none;
}

h1, h2, h3, p {
	color: #FFFFFF;
}

body {
	background-color:#121213;
	border-style: solid;
	border-width: 18px;
	border-color: #351255;;
	border-bottom: none;
	min-height: 100vh;
	box-sizing: border-box;
}
/*
.container {
	margin: 2% 10%;
}
*/
@media all and (max-width: 1200px){
	.container {
	 margin: 2% 2%;
	}
}

@media all and (min-width: 1200px) {
	.container {
	 margin: 2% 10%;
	}
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-container > div {
	border: solid 1px white;
	width: 47%;
	min-width: 500px;
	margin: 10px;
   	display: flex;
   	flex-direction: column;
}

.flex-container > div *{
	padding-bottom: 1%;
	padding: 10px;
}

.flex-container > div > img {
	width: 80%;
	height: 300px;
	border-radius: 2em;
	top: 100%;
	object-fit: cover;
}

.flex-container > div > small {
	font-size: 25px;
}

.flex-container > div .specs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-top: solid 1px white;
	align-items: center;
	height: 50px;
	bottom: 0;
	margin-top: auto;
}

.flex-container > div .specs > p{
	margin: 0 3%;
}

.left {
	display: block;
	text-align: left;
	margin-left: 0;
}

.center {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: 20px;
}

h1 {
	font-size: 130px;
	
}

h2 {
	font-size: 100px;
}

h3 {
	font-size: 50px;
}

small {
	color: #FFFFFF;
}

footer {
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	
	text-align: center;
	background-color: #351255;;
}

table {
	color: white;
	width: 100%;
	border-collapse: collapse
}

table tr img {
	width: 500px;
	height: 300px;
	border-radius: 2em;
	top: 100%
}

.tableSpacer {
	width: 6%;
	border: none;
}

.rowSpacer {
	height: 50px;
	border: none;
}

tr td, tr th {
	/*border: solid 1px white;*/
	padding: 10px;
	width: 47%;
}

tr td p {
	font-size: 20px;
	line-height: 25px;
	text-align: justify;
}

table tr {

}

tr th {
	font-size: 50px;
	border-top: solid 1px #fff;
	border-right: solid 1px #fff;
	border-left: solid 1px #fff;
}

tr td {
	border-right: solid 1px #fff;
	border-bottom: solid 1px #fff;
	border-left: solid 1px #fff;
}

th small, td small {
	font-size: 25px;
}

tr td img {
	padding-bottom: 15px;
}

tr th {
	padding-top: 15px;
}

.header {
	padding-top: 50px;
}

footer p {
	color: #7626c2;
}

a small:hover  {
	color: #cfcfcf;
	text-decoration: underline #cfcfcf;
}

p a:hover  {
	color: #5e1b9c;
}

.langChange {
	text-decoration: underline white;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #351255;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #7626c2;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #5e1b9c;
  }