html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Palanquin Dark', sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
br
{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
/* FIN DU CSS RESET */
::-moz-selection { /* Code for Firefox */
	color: #0d0d0e;
	background: none;
	text-shadow:
	-1px -1px 0 #EF476F,  
    1px -1px 0 #EF476F,
	-1px 1px 0 #EF476F,
    1px 1px 0 #EF476F;
}
  
::selection {
	color: #0d0d0e;
	background: none;
	text-shadow:
	-1px -1px 0 #EF476F,  
    1px -1px 0 #EF476F,
	-1px 1px 0 #EF476F,
    1px 1px 0 #EF476F;
}

html, body {
	height: 98%;
}

body {
	background-color:#0d0d0e;
}

.container {
	position: relative;
	height: 100%;
	width: 100vw;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.center {
	text-align: center;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.i-b {
	display: inline-block;
}

#wrapper {
	display: inline-block;
	text-align: center;
}

.automargin {
	margin-left:auto;
    margin-right:auto;
}

.gray {
	color: rgb(104, 104, 104);
}

/* FORMATS DE TEXTE */
li, p {
	font-size: 20px;
	color: #FFFFFF;
}

h1 {
	font-size: 130px;
	color: #FFFFFF;
}

h2 {
	font-size: 100px;
	color: #FFFFFF;
}

h3 {
	font-size: 50px;
	color: #FFFFFF;
}

h4 {
	font-size: 35px;
	color: #FFFFFF;
}

h5 {
	font-size: 20px;
	color: #FFFFFF
}

h1, h2, h3, h4, h5 {
	cursor: default;
}

.spacer {
	margin-bottom: 50px;
}

.spacer-sm {
	margin-bottom: 25px;
}

/* FIN DES FORMATS DE TEXTE */

.btnWrapper {
	margin: 0 auto;
	text-align: center;
}

.button {
	display: inline-block;
	background-color: #EF476F;
	border: #EF476F 3px solid;
	padding: 18px;
	border-radius: 1.25em;
	cursor: pointer;
	user-select: none;
}

.button:hover {
	color: #EF476F;
	background-color: #0d0d0e;
}











.vibrate-1{-webkit-animation:vibrate-1 .2s linear infinite both;animation:vibrate-1 .2s linear infinite both}
.scale-out-center{-webkit-animation:scale-out-center .1s cubic-bezier(.55,.085,.68,.53) both;animation:scale-out-center .1s cubic-bezier(.55,.085,.68,.53) both}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-18 14:59:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-18 15:7:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes scale-out-center{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}100%{-webkit-transform:scale(0);transform:scale(0);opacity:1}}@keyframes scale-out-center{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}100%{-webkit-transform:scale(0);transform:scale(0);opacity:1}}